<div class="profile-container">
  <h3>Esta es la vista para cambiar de contrasena</h3>
  {{!-- <h3>Profile</h3>
  <p>firstname: <i> {{user.firstname}}</i></p>
  <p>lastname: <i> {{user.lastname}}</i></p> 
  <p>email: <i> {{user.email}}</i></p> 
  <p>address: <i> {{user.address}}</i></p> 
  <p>role: <i> {{user.role}}</i></p>  --}}
</div>